<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.dti.autoatendimento"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Wayter</name>
 
    <description>
        Aplicativo para pedir pelo celular
    </description>
 
    <author href="http://www.dtisistemas.com.br" email="thiago.araujo@dtisistemas.com.br">
        DTI Sistemas
    </author>
	
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>