<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.dti.autoatendimento"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Peça pelo celular</name>
 
    <description>
        Aplicação para pedir pelo celular
    </description>
 
    <author href="http://www.dtisistemas.com.br" email="thiago.araujo@dtisistemas.com.br">
        DTI Sistemas
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<param name="android-package" value="org.apache.cordova.core.NetworkManager" />
	<access origin="*" />
</widget>